<aside class="admonition">
	<div class="admonition-content last-updated">
		<p class="alignleft">"<a href="{{ .Permalink }}" class="hide-child link primary-color">{{ .Title }}</a>" was last updated on {{ .Lastmod.Format "January 2, 2006" }}</p>
		<p class="alignright"><button class="btn btn-primary" type="button" onclick="location.href='https:\/\/github.com\/pivotal\/modernization-cookbook-master-internal'">Improve this page</button></p>
	</div>
</aside>

<footer class="footline"></footer>

<center>
<h5>@2020, VMware Software, Inc. All Rights Reserved, Confidential</h5>
</center>
