{{ partial "header.html" . }}

<div class="row" style="height:100%;">
  <div class="col-sm-8 doc-main" style="width:70%; float:left; padding:30px;">
		<main role="main">
			<div class="doc-list-header">
				<h1>{{ .Title }}</h1>
			</div>
      <div class="doc-list-entry" style="padding:30px;">
	{{ range .Data.Pages }}
     <div  style="min-height:40px;">
        <div style="float:left;">
           <span style="font-size: 18pt;">  <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</span></a><br/>
           <span style="font-size: 14pt;"><i>{{ .Params.summary }}</i></span>
        </div>
        <div style="float:right;">
              {{ if .Params.resolved }}
                <i class="fa fa-check-circle fa-2x type-brand-6" style="text-align:right;"></i>
              {{ else }}
                {{ if eq .Params.glyph "fa-ban"}}
                  <i class="fa fa-ban fa-2x blink_me" style="text-align:right;color:red;"></i>
                {{ else }}
                  {{ if eq .Params.glyph "fa-umbrella"}}
                    <i class="fa {{.Params.glyph}} fa-2x" style="text-align:right;color:#d3313a;"></i>
                  {{ else }}
                    <i class="fa {{.Params.glyph}} fa-2x" style="text-align:right;"></i>
                  {{ end }}
                {{ end }}
              {{ end }}
        </div>
     </div><br/>
     <div style="min-width:100%; width:100%; float:right; text-align:right;">
       {{ range .Params.tags }}
             <a class="tag-item" href="/tags/{{ . | urlize }}">{{ . }}</a>
       {{ end }}
       <hr style="height:1px;"/>
       <br/><br/>
     </div>
	{{ end }}
			</div>
		</main>
	</div> <!-- /.doc-main -->

	{{ partial "sidebar-list.html" . }}

</div> <!-- /.row -->

{{ partial "footer.html" . }}
