<center>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/pivotalservices/modernization-cookbook-template/archive/master.zip" data-icon="octicon-cloud-download" aria-label="Download pivotalservices/modernization-cookbook-template on GitHub">Download</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/pivotalservices/modernization-cookbook-template" data-icon="octicon-star" data-show-count="false" aria-label="Star pivotalservices/modernization-cookbook-template on GitHub">Star</a>

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/pivotalservices/modernization-cookbook-template/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork pivotalservices/modernization-cookbook-template on GitHub">Fork</a>
    </br>

    <h5 style="color:#ecefef">@2017, Pivotal Software, Inc. </br> All Rights Reserved, Confidential</h5>

</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>