<!DOCTYPE html>
{{ $baseUrl := .Site.Params.basedir }}
{{ $isHomePage := eq .Title .Site.Title }}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">
    <link rel="icon" href="/favicon.ico">
    <title>{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="/css/highlight.js.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/pui-v2.0.0/pivotal-ui.css">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/pui-v2.0.0/pivotal-ui.js">
    <link rel="stylesheet" href="/css/bootie-docs.css">
  </head>

  <body role="document" style="min-height:100%;">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-pivotal navbar-fixed-top">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <div class="nav navbar-brand">
            <p><img class="nav pivotal-logo" src="/Pivotal_Teal.png"/></p>
	  </div>
          {{ if eq $isHomePage false }}
	  <a class="navbar-brand navbar-txt" href="/">{{ .Site.Title }} </a>
          {{ end }}
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
	    {{ if isset .Site.Params "mainMenu" }}
	    {{ $url := .Permalink }}
	    {{ range $item := .Site.Params.mainMenu }}
	    {{ $itemUrl := printf "%s/%s/" $item }}
            {{ $itemTitle := title $item }}
	    <li {{ if eq $url $itemUrl }}class="active"{{ end }}><a class="navbar-txt" href="/{{ $item }}">{{ $itemTitle }}</a></li>
	    {{ end }}
	    {{ end }}
	    {{ if isset .Site.Params "noCategoryLink" }}{{ else }}
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
	      <ul class="dropdown-menu" role="menu">
		{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
		<li><a href="/categories/{{ $name | urlize }}">{{ title $name }}</a></li>
		{{ end }}
	      </ul>
	    </li>
	    {{ end }}
	  </ul>
	</div><!--/.nav-collapse -->
      </div>
    </nav>
