{{ $baseUrl := .Site.BaseURL }}
<div class="doc-sidebar" style="width:30%; margin-top:0; float:right; padding:10px;">
	<div class="sidebar-module">
		<h4 class="type-brand-3">Categories</h4>
    <div class="tag-box bg-dark-11" style="padding:10px; margin:20px;">
    <ul class="list-unstyled">
		{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
			<li><a class="tag-item" href="{{ $baseUrl }}/categories/{{ $name | urlize }}">{{ $name }}</a></li>
		{{ end }}
    </ul>
  </div>
	</div>
	<div class="sidebar-module">
    <h4 class="type-brand-3">Tags</h4>
    <div class="tag-box bg-dark-11" style="padding:10px; margin:20px;"> 
		{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
			<a class="tag-item" href="{{ $baseUrl }}/tags/{{ $name | urlize }}">{{ $name }}</a>
		{{ end }}
		</div>
	</div>
</div><!-- /.doc-sidebar -->
